.nav-link{
    border-top: 1px solid #b8b8b8;
    height: 30px;  
    padding: 5px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 20%, #d3d3d3 100%);
    background: -webkit-linear-gradient(top, #ffffff 20%,#d3d3d3 100%);
    background: linear-gradient(to bottom, #ffffff 20%,#d3d3d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 );
    box-shadow: inset 0 -1px 2px rgb(255, 255, 255);
}
.nav-link a{
    font-size: 12px;
    font-weight: 500;
}
/* home page */
.navbar-custom{
    background: #007ba7;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, .25);
}
.navbar-custom .navbar-brand{
    color: #fff!important;
    font-weight: bold;
}
.navbar-custom .navbar-nav>li>a{
    color: #fff;
}
.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus,
.navbar-custom .navbar-nav>li>a:active{
    color: #f1f1f1;
}
.breadcrumb-custom{
    margin: -10px 0 15px 0;
    padding: 3px 10px;
    border-radius: 0;
    font-size: 16px;
}
.breadcrumb-custom a{
    color: #333;
}
.drop-shadow {
    border: 2px solid #fff;
    position:relative;
    padding:10px;
    margin-top: 30px;
    cursor: pointer;
    min-height: 150px;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;    
}
.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}
.drop-shadow .box-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #007BA7;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 3px;
}
.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}
.curved-hz:before {
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
/* table css */
.table-borderless td{
    padding: 3px;
}
.table-custom {
    border: 1px solid #ddd;
}
.table-custom th{
    background-color: #d8e6f1;
}
/* table css end */

