
  
  <section class="container">
    <ol class="breadcrumb breadcrumb-custom">
        <li><a href='{{dxpMonitorURL}}'>DXP Monitor</a></li>  
                  
    </ol> 
    <div  class="row col-md-12">
        <article class="col-xs-6 col-md-4"><div class="drop-shadow curved curved-hz">
            <h3 class="box-title">Create Process</h3>
            <p><a ng-href="#/requestNew">Create Process</a></p>
          </div></article>
          <article class="col-xs-6 col-md-4"><div class="drop-shadow curved curved-hz">
            <h3 class="box-title">Access Existing Processes</h3>
            <p><a ng-href="#/piList">Access Existing Processes</a></p>
          </div></article>
          <article class="col-xs-6 col-md-4"><div class="drop-shadow curved curved-hz">
            <h3 class="box-title">Access Your Tasks</h3>
            <p><a routerLink="addCustomer">Access Your Tasks</a></p>
          </div></article>
    </div>
  
    
  </section>